body{
    font-family: 'Epilogue', sans-serif;
     overflow-x: hidden;
}
.logo{
    margin-left: 20px;
    margin-bottom: -5px;
    margin-top: 30px;
}
@media(max-width:500px){
    .logo{
        width: 25%;
        margin-top: 20px;
    }
}
button{
    padding: 18px;
    border-radius: 17px;
    width: 50%;
    background-color: rgb(24, 23, 23);
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: none;
    
}
button:hover{
    color: #111;
    background-color: #fff;
    border: 1px solid black;
}
@media(min-width:1200px){
    .hamz{
        display: none;
    }
    .ham{
        display: none;
    }
    .mobile-image{
        display: none;
    }
    /* .navbar-container{
    display: flex; */
}
.sidebar{
    display: flex;
    /* gap:18px; */
    /* overflow: hidden; */
    margin-left: 80px;
}
@media(max-width:500px){
    .sidebar{
        display: block;
    }
}
.sidebar a{
    text-decoration: none;
    color: #818181;
    /* padding:1px 11px 0px 28px */
    margin-top: -25px;
    margin-left: 70px;
}
.sidebar a:hover{
    color: #111;
}
.header2{
    display: flex;
    gap: 40px;
    color: #818181;
    /* text-align: right; */
    margin-top: -46px;
    margin-left: 500px;
}
@media(max-width:500px){
    .header2{
        display: block;
        margin-left: 77px;
        margin-top:50px
    }
}
.right-image{
    width: 100%;
    height: 500px;
    margin-left: 100px;
}
@media(max-width:500px){
    .right-image{
        display: none;
    }
}
.Big-container{
    display: flex;
    margin-left: 211px;
    gap: 100px;
    margin-top: 80px;
}
@media(max-width:500px){
    .Big-container{
        display: block;
    }
}
.big-text{
    margin-left: -70px;
}
@media(max-width:500px){
    .big-text{
    position: relative;
    top: 436px;
    left: -125px;
    font-size: 18px;
    text-align: center;
    width: 197%;
    }
}
.big-text h1{
    font-size: 70px;
    width: 185%;
    font-weight: 700;
}
@media(max-width:500px){
    .big-text h1{
    font-size: 43px;
    font-weight: bolder;
    margin-left: -155px;
    }
    br{
        display: none;
    }
}
.big-text p{
    color: #818181;
    line-height: 27px;
    font-size:18px;
}
.img-container2{
    display: flex;
    gap: 30px;
    margin-left: 150px;
    height: 15px;
    margin-top: -20px;
    margin-bottom: 108px;
}
@media(max-width:500px){
    .img-container2{
    margin-left: 14px;
    margin-top: 319px;
    margin-bottom: 77px;
    height: 19px;
    }
}
.header2 h3{
    font-weight: unset;
    cursor: pointer;
}
.header2 h3:hover{
    color: black;
}
.header2 h4{
    border: 1px solid gray;
    padding: 10px 20px 9px 20px;
    border-radius: 11px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: unset;
}
.header2 h4:hover{
    color: black;
}
@media(max-width:500px){
    .header2 h4{
    margin-right: 16px;
    margin-left: -64px;
    text-align: center;
    }
    .header2 h3{
        margin-left: 21px;
    }
}
.dropdown {
  float: left;
  /* overflow: hidden; */
  margin-top: -25px;
}
.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  min-width: 20px;
  top: 70px;
  /* left: 44px; */
  margin-left: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 7px;
}
@media(max-width:500px){
    .dropdown-content{
        position: relative;
        top: 40px;
    }
}
.dropdown-content a {
  float: none;
  color: hsl(0, 0%, 41%);
  padding: 6px 7px;
  margin-top: 5px;
  text-decoration: none;
  display: block;
  margin:5px 10px 5px 15px;
  font-size: 15px;
  /* text-align: left; */
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* @media(max-width:500px){
    .dropdown:hover .dropdown-content{
        display: none;
    }
} */
@media(max-width:500px){
    .mobile-image{
    margin-top: -329px;
    margin-left: -212px;
    width: 219%;
    height: 481px
    }
}
@media(max-width:500px){
    /* .logo-container{
    margin-left: -43px;
    margin-top: 23px;
} */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 166px;
}
.sidebar a {
  padding: 42px 8px 26px 0px;
  text-decoration: none;
  font-size: 27px;
  margin:0px 0px 1px 31px;
  display: block;
  transition: 0.3s;
}
.sidebar .closebtn {
  position: absolute;
  top: 29px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
  position: relative;
  top: -49px;
  left: 288px;
}
#main img{
    width: 20%;
    height: 24px
}
    }
.closebtn{
    display:none
}
.openbtn{
    display: none;
}
@media(max-width:500px){
    .openbtn{
        display: block;
    }
}